.logo {
    width: 70px;
    height: 70px;
    margin-right: 20px;

    @media screen and (max-width: 480px) {
        width: 44px;
        height: 44px;
    }
}
.navbar{
    width: 518px;
    height: 126px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: #424436;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    font-family: Montserrat;
    text-decoration: none;
    @media screen and (max-width: 480px) {
       display: none;
    }
    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20.8px;
     }
 
}

.header{
    max-width: 1440px;
    max-height: 128px;
    background-color: #FFFFF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    padding: 30px 40px;
    
    @media screen and (max-width: 1000px) {
        padding: 30px 20px;
    }
}

.iconWrapper{
    display: flex;
    align-items: center;
}

.heartCartWrapper{
    display: flex;
    align-items: center;
}
