.wrapper {
    position: relative;
}

.count {
    left: 0;
    top: 7px;
    position: absolute;
    background-color: #92A134;
    font-size: 12px;
    font-weight: 600;
    padding: 7px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 12px;
    text-align: center;
    color: #fff;
    font-family: Montserrat, sans-serif;
}